* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.parent {
  list-style-type: none;
  display: flex;
  justify-content: center;
  color: blue;
}

.parent_child {
  display: flex;
  justify-content: space-between;
}
.child1 {
  display: flex;
  justify-content: space-between;
}
.child6 {
  display: flex;
  justify-content: space-between;
}
