* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}

.p1{
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Goldman';
  font-style: normal;
  font-weight: 700;
  font-size: 5rem;
  color: white;
}

.p2{
  position: absolute; 
  top: 56%;
  left: 52%;
  transform: translate(-53%, -53%);
  font-family: 'Goldman';
  font-style: normal;
  font-weight: 700;
  font-size: 5rem;
  color: white;
}

.body2{
  background-image: url(/img/background.jpeg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;  
}










